# ======================================
# Section 3)
# --------------------------------------
#
# Settings and flags associated with :
#
#   - Compilation process
#   - Linking process
#
# ======================================
# To get the linking flags, invoke the
# following;
#
#   pkg-config --libs gtk4
# ==============================

# -----------------------------
# Compiler and Linker utilities
# -----------------------------

compiler=c:\msys64\mingw64\bin\g++.exe

linker=$(compiler)

pkgconfig=c:\msys64\mingw64\bin\pkg-config.exe


# -------------------------
# Compiler and Linker flags
# -------------------------

compile_flags=-c \
-g \
-Wall

compiler_output_flags=-o


include_dirs=-I.\include \
-I$(dir_boost)

link_flags=-L${libdir_boost} -lboost_json-vc143-mt-s-x64-1_82
