# ======================================
# To get the linking flags, invoke the
# following;
#
#   pkg-config --libs gtk4
# ======================================

# -----------------------------
# Compiler and Linker utilities
# -----------------------------

compiler=cl.exe

linker=link.exe


# -------------------------
# Compiler and Linker flags
# -------------------------

# /EHsc : Disable exception handling. The MS C/C++ Compiler complains if this is not used.
# /Fo   : Create an object file as output.

compile_flags=/c \
/Fo \
/EHsc \

# compiler_output_flag=-out:

compiler_output_flags=

compile_flags_advanced=/Wall


# ----------------------------------------
# Include and Linker directories and files 
# ----------------------------------------

include_dirs=/I.\include \
/I$(dir_boost)


# Include directories
# -------------------

libdir_c=c:\cygwin64\lib

# Linker files
# ------------

lib_boost_container_ms=c:\users\craig\boost_1_82_0\stage\x64\lib\libboost_container-vc143-mt-s-x64-1_82.lib
lib_boost_json_ms=c:\users\craig\boost_1_82_0\stage\x64\lib\libboost_json-vc143-mt-s-x64-1_82.lib

lib_files=$(lib_boost_container_ms) \
$(lib_boost_json_ms)

link_flags=$(lib_files_ms)

link_flags_advanced=$(link_flags_ms)

