# ======================================
# Section 2)
# --------------------------------------
#
# Settings and flags associated with :
#
#   - Packages
#
# ======================================

dir_boost=c:\users\craig\boost_1_82_0

# ======================================
# Section 4)
# --------------------------------------
#
# Settingsand flags associated with :
#
#   - Locations of Library files
#
# --------------------------------------
# Is the Gtk4 library file;
#
#   c:\msys64\mingw64\bin\libgtk - 4 - 1.dll
# ======================================

libdir_gtk=c:\msys64\mingw64\lib
libdir_boost=${dir_boost}\stage\x64\lib
